airlineDelaySchema.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="AirlineDelays">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="year" type="xs:number" use="required"/>
      <xs:element name="month" type="xs:number" use="required"/>
      <xs:element name="carrier_name" type="xs:string" use="required"/>
      <xs:element name="airport_name" type="xs:string" use="required"/>
	  <xs:element name="airport_code" type="xs:string" use="required"/>
      <xs:element name="number_of_flights" type="xs:number" use="required"/>
      <xs:element name="number_of_late_flights_by_fifteen_minutes" type="xs:number" use="required"/>
      <xs:element name="number_of_delayed_flights_with_carrier_delays" type="xs:number" use="required"/>
      <xs:element name="number_of_delayed_flights_with_weather_delays" type="xs:number" use="required"/>
      <xs:element name="number_of_delayed_flights_with_national_aviation_system_delays" type="xs:number" use="required"/>
      <xs:element name="number_of_delayed_flights_with_security_delays" type="xs:number" use="required"/>
      <xs:element name="number_of_delayed_flights_with_late_aircraft_delays" type="xs:number" use="required"/>
      <xs:element name="arrival_delay_time" type="xs:number" use="required"/>
      <xs:element name="airport_code" type="xs:number" use="required"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>
</xs:schema>