xmlValidations/twitter_schema.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="tweet">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="airline" type="xs:string" use="required"/>
      <xs:element name="airline_sentiment" type="xs:string" use="required"/>
      <xs:element name="name" type="xs:string" use="required"/>
      <xs:element name="text" type="xs:string" use="required"/>
	  <xs:element name="negative_reason" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>
</xs:schema>